.collectionLink {
  display: flex;
  margin-top: 50px;
  font-size: 1.8rem;
}

.line {
  display: block;
  align-self: center;
  margin-left: 10px;
  background-color: black;
  height: 2px;
  width: 7%;
}
