.collections {
  margin-top: 60px;
}

.wrapperSection {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
  max-width: 1200px;
  margin: 0px auto;
}

.catalogTitles {
  width: 22%;
  font-size: 3.6rem;
  text-align: center;
}

.catalogs {
  display: flex;
  justify-content: space-between;
}
