* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  line-height: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px auto;
}

.title {
  margin: 30px 0px;
  font-size: 2.4rem;
  text-align: center;
}

.subtitle {
  font-size: 2rem;
}

.information,
.attraction,
.attraction > strong {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.travel {
  margin: 0px auto;
  width: 80%;
}

.subtitle {
  margin-top: 20px;
}

.information {
  margin-top: 10px;
}

.attractions-list {
  margin: 5px 0px 0px 20px;
}

.button-travel {
  display: block;
  margin: 20px auto;
  height: 45px;
  width: 200px;
  font-size: 1.8rem;
  border-radius: 100px;
  background-color: rgba(10, 228, 228, 0.858);
}

.information:last-child {
  margin-bottom: 30px;
}

.button-travel:hover {
  cursor: pointer;
  background-color: rgba(55, 190, 190, 0.858);
  transition: 2s;
}

.button-travel.active {
  background-color: rgba(224, 103, 235, 0.886);
}

.button-travel.active:hover {
  background-color: rgba(143, 49, 151, 0.886);
}

.rome-article {
  display: none;
}

.rome-article.active {
  display: block;
}
